.logoBlock {
  img {
    filter: grayscale(100);
    transition: 0.5s all ease;
    max-width: 200px;
    width: 100%;
    height: auto;
    max-height: 100px;

    &:hover {
      filter: none;
    }
  }

  & + {
    opacity: 0;
  }
}